@model OnlineShop_4M_Models.OrderHeader

<div class="text-center">
    <h1>Информация</h1>

    @if (Model is not null)
    {
        <p>
            Заказ номер @Model.Id был создан
        </p>
    }
    else
    {
        <p>Мы отправили запрос вам на почту</p>
    }
</div>
