@using OnlineShop_4M_Models
@model Company

<h1>Изменение компании</h1>

<form method="post" asp-action="Edit">

    <div class="mb-3">
        <label class="form-label">Название компании</label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Country" class="form-label"></label>
        <input asp-for="Country" class="form-control">
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <input class="btn btn-danger" type="submit" value="Обновить" />

    <a asp-action="Index" class="btn btn-warning">Вернуться назад</a>
</form>
